@import '../../styles.scss';

.card-cancel-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: #ffff;
    border-radius: 25px;
    background-color: $bgColor;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}