.button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    position: relative;

    &:active {
        bottom: -2px;
    }

    &--white {
        background-color: white;
    }

    &--purple {
        background-color: #a056d9;
    }

    &--disabled {
        text-decoration: line-through 2px red;
        cursor: not-allowed;
        position: relative;
    }
}